<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<<<<<<< HEAD
  <%- include ("../partials/header.ejs") %>
=======
  <% include ../partials/header.ejs %>
>>>>>>> 9e9765a (new UI)
=======
  <%- include ("../partials/header.ejs") %>
>>>>>>> b10a4d7 (Upgrade ejs modules (#227))
</head>

<body>

<<<<<<< HEAD
<<<<<<< HEAD
  <%- include ("../partials/nav.ejs") %>
=======
  <% include ../partials/nav.ejs %>
>>>>>>> 9e9765a (new UI)
=======
  <%- include ("../partials/nav.ejs") %>
>>>>>>> b10a4d7 (Upgrade ejs modules (#227))

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    <h1>Getting Started on Heroku with Node.js</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs-fir"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku Fir with Node.js</a>
<<<<<<< HEAD
<<<<<<< HEAD
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/nodejs-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
=======
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
=======
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/nodejs-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
>>>>>>> ee47915 (Initial commit (history reset))
>>>>>>> 9ce1f3f (fixing code structure)
  </div>
</div>
<div class="container">
  <div class="lead">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to either of the following tutorials:
    <ul>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs-fir" class="alert-link">Getting Started on Heroku Fir with Node.js</a></li>
<<<<<<< HEAD
    </ul>
=======
    <h1>Getting Started with Node on Heroku</h1>
=======
    <h1>Getting Started with Node on Heroku v1.0 dev branch</h1>
>>>>>>> db52914 (Create index.ejs)
=======
    <h1>Getting Started with Node on Heroku</h1>
>>>>>>> 787a039 (Modernize and remove accidental commits (#84))
=======
    <h1>Getting Started on Heroku with Node.js</h1>
>>>>>>> c3ea7c3 (change article titles to match dev center)
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
=======
    <h1>Getting Started on Heroku with Node.js</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
>>>>>>> 246b798 (change article titles to match dev center)
=======
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
<<<<<<< HEAD
  <div class="alert alert-info text-center" role="alert">
<<<<<<< HEAD
<<<<<<< HEAD
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
>>>>>>> 9e9765a (new UI)
=======
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> tutorial.
>>>>>>> c3ea7c3 (change article titles to match dev center)
=======
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> tutorial.
>>>>>>> 246b798 (change article titles to match dev center)
=======
  <div class="lead">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to either of the following tutorials:
    <ul>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a></li>
      <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku Fir with Node.js</a></li>
=======
>>>>>>> c13fb98 (Applied updates from comments in #348 (#350))
    </ul>
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
<<<<<<< HEAD
<<<<<<< HEAD
        <li>This app was deployed to Heroku using Git.</li>
<<<<<<< HEAD
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/nodejs-getting-started/blob/main/package.json">package.json</a>, creating a deployable build artifact.</li>
=======
<<<<<<< HEAD
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/main/package.json">package.json</a>, creating a deployable build artifact.</li>
=======
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/nodejs-getting-started/blob/main/package.json">package.json</a>, creating a deployable build artifact.</li>
>>>>>>> ee47915 (Initial commit (history reset))
>>>>>>> 9ce1f3f (fixing code structure)
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the build artifact can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> or
          <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs-fir" class="alert-link">Getting Started on Heroku Fir with Node.js</a> guide,
<<<<<<< HEAD
          then please head back to the tutorial and follow the next steps!</li>
      </ul>
=======
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/main/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
=======
        <li>This app was deployed to Heroku using Git.</li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/main/package.json">package.json</a>, creating a deployable build artifact.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the build artifact can be mounted and executed.</li>
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
<<<<<<< HEAD
>>>>>>> 9e9765a (new UI)
=======
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku with Node.js</a> or
          <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on Heroku Fir with Node.js</a> guide,
=======
>>>>>>> c13fb98 (Applied updates from comments in #348 (#350))
          then please head back to the tutorial and follow the next steps!</li>
      </ul>
>>>>>>> 0923976 (add next steps)
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs-fir">Getting Started on Heroku Fir with Node.js</a></li>
<<<<<<< HEAD
=======
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
>>>>>>> 9e9765a (new UI)
=======
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a></li>
>>>>>>> c3ea7c3 (change article titles to match dev center)
=======
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a></li>
>>>>>>> 246b798 (change article titles to match dev center)
=======
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
  <div>

  </div>
  <div class="row" style="margin-top:1em">
    <div class="col-md-12">
      <p class="alert alert-info" role="alert">
        Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
      </p>
    </div>
<<<<<<< HEAD
=======
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
>>>>>>> 9e9765a (new UI)
=======
>>>>>>> db1c8c9 (Updated with fir-related content and links (#348))
  </div>
</div>


</body>
</html>
